Config(
    // Title of the window.
    title: "poweroff-rs",
    // Width of the window. default 512
    width: 512,
    // Height of the window. default 200
    height: 200,
    // Keybinds to perform actions.
    // (S)hut down
    // (R)eboot
    // (W)indows Boot
    // (Q)uit the app
    bindp: "s",
    bindr: "r",
    bindw: "w",
    bindq: "q",
    // Windows boot entry.
    wbentry: 2,
)
